# Ignore the folder German-University-Courses-List
German-University-University-Courses-List/

# Ignore the folder logs
logs/

# Ignore the folder PHD
PHD/

# Ignore the folder TESTING
TESTING/

# Ignore the folder TESTING_MASTER_LIST

#ignore the folder .env
.env